# Natural Language Processing
langchain==0.0.267
chromadb==0.4.6
pdfminer.six==20221105
InstructorEmbedding
sentence-transformers
faiss-cpu
huggingface_hub
transformers
autoawq
protobuf==3.20.2; sys_platform != 'darwin'
protobuf==3.20.2; sys_platform == 'darwin' and platform_machine != 'arm64'
protobuf==3.20.3; sys_platform == 'darwin' and platform_machine == 'arm64'
auto-gptq==0.2.2
docx2txt
unstructured
unstructured[pdf]

# Utilities
urllib3==1.26.6
accelerate
bitsandbytes ; sys_platform != 'win32'
bitsandbytes-windows ; sys_platform == 'win32'
click
flask
requests

# Streamlit related
streamlit
Streamlit-extras

# Excel File Manipulation
openpyxl

# Llama
llama-cpp-python

#pip uninstall torch
#pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118


# setx CMAKE_ARGS -DLLAMA_CUBLAS=on
# setx FORCE_CMAKE 1


# $env:CMAKE_ARGS="-DLLAMA_CUBLAS=on"     
# $env:FORCE_CMAKE=1                                                                                                                
#pip install llama-cpp-python --force-reinstall --no-cache-dir --verbose                                                        

#git clone https://github.com/PanQiWei/AutoGPTQ.git                                                                             
#cd AutoGPTQ
#pip install -v .

